#opener-1 {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0%;
    width: 10rem;
}

nav {
    align-items: center;
}

.hilit-1 {
    border-bottom: 1px solid var(--color4);
}